
* {
    font-family: 'Roboto', sans-serif;

}

body {
    background-image: url("background.jpg");
    background-size: cover;
}

#container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 1200px;
    border-radius: 2%;
    margin: auto;
    margin-top:50px;
}
#logo {
    margin: auto;
    margin-top:50px;
}

#descrizione {
    color: green;
    margin: 20px;
}

p {
    margin: 50px;
}

#terra {
    border-radius: 10%;
    height: 200;
    width: 300;
}